<div class="card card-radius-40 payment-data">            
    <div class="card-body d-flex flex-column">
        

        <div class="d-flex flex-column">
            {% block paymentname %}
                {# {% macro inputTextValid(type, name and id, class,label,labelhealp, text,placeholder, value) %} #}
                {{ formfield.inputTextValid("text", "cardname", "default","Titular de la tarjeta","","Ingresa nombre/s completo del titular", "") }}
            {% endblock %}
            
            {% block cardnumber %}
                {# {% macro inputTextValid(type, name and id, class,label,labelhealp, text,placeholder, value) %} #}
                {{ formfield.inputTextValid("number", "cardnumber", "default","Número de la tarjeta","","Ingresa número de tarjeta", "") }}
            {% endblock %} 

           
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="position-relative label-group">
                    <label for="month ">Fecha de vencimiento</label>
                    <span class="label-help">(MM/AA)</span>
                </div>
                <div class="double-input-cont">
                    <div class="form-group default">
                        <input type="text" class="form-control " 
                        name="month" id="month" 
                        placeholder="MM /" 
                        autocomplete="off"
                        maxlength="2"
                        pattern="[0-9]*"
                        inputmode="numerical"
                        data-parsley-trigger="change"
                        data-parsley-required-message= "Debes completar mes"
                        data-parsley-required >
                    </div>

                    <div class="form-group default">

                        <input type="text" class="form-control " 
                        name="year" id="year" 
                        placeholder="AA" 
                        autocomplete="off"
                        maxlength="2"
                        pattern="[0-9]*"
                        inputmode="numerical"
                        data-parsley-trigger="change"
                        data-parsley-required-message= "Debes completar año"
                        data-parsley-required >
                    </div>

                </div>
            </div>
           
            {% block cvv %}
                {# {% macro inputTextValid(type, name, class,label, placeholder, value) %} #}
                {{ formfield.inputcvvValid("password", "cvv ", "default","CVV","CVV", "") }}
            {% endblock %} 
            
            

            {% block carddocument %}
                {# {% macro inputTextValid(type, name and id, class,label,labelhealp, text,placeholder, value) %} #}
                {{ formfield.inputTextValid("number", "carddocument", "default","Número de documento","","Ingresa número de documento", "") }}
            {% endblock %} 

            {# <div class="d-lg-flex flex-row"> #}
                <div class="form-group default">
                    <div class="position-relative">
                        <label for="pais">País</label>
                    </div>
                    <select  class="form-control select2 withsearch" id="pais" name="pais"  
                    tabindex="-1" aria-hidden="true"  style="width:100%" data-placeholder="País"  data-parsley-trigger="change"
                    data-parsley-required-message= "Seleccionar"
                    data-parsley-required>
                        <option></option>
                        {% for item in countryOptions %}
                            <option value="{{item.item_name}}" >{{ item.item_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% block cp %}
                    {# {% macro inputTextValid(type, name and id, class,label,labelhealp, text,placeholder, value) %} #}
                    {{ formfield.inputTextValid("number", "cp", "default","Código postal","","Ingresa código postal", "") }}
                {% endblock %} 
            {# </div> #}
        </div>

    </div>
</div>