// -----------------------------------------------------------------------------
// Thumbnails format components/_thumbs.
// -----------------------------------------------------------------------------
.thumb{
	
	position: relative;

	&.thumb-rounded{
		border-radius:50%;
	}

	&.thumb-bordered{
		border:3px solid $grey-7;	
	}


	&.sm-thumb{
		width: 80px;
		height: 80px;

		.avatar {
			font-size: $t30;
		}
	}


	&.xs-thumb{
		width: 40px;
		height: 40px;

		.avatar {
			font-size: $t22;
		}
	}
}
.img-wrap {
	position: relative;
    overflow: hidden;
    
	img{
		position: absolute;
		width:100%;
		height:auto;
	}
	.avatar {
    position: absolute;
    color: $purple-brand-strong;
    font-weight: 700;
    text-align: center;
    background: #efeff4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	}
}

