 <section class="personal-data">
    
    <div class="d-flex flex-column">
        <!--Form-->
        <form action="#" class="form_content parsley js_form_validation">
            <div class="card card-radius-40 card-borderless">            
                <div class="card-body d-flex flex-column step">
                    <div class="row ">
                       <h1 class="d-flex align-items-center mb-2 text-center justify-content-center">Felicitaciónes, Nombre usuario!</h1>
                       <img src="content/img/shared/contact-support-young-woman.png" title="Agente Nombre Agente" class="d-block mx-auto" style="width:129px;margin-top:30px;margin-bottom:30px;">
                        <div id="login-msg" style="font-size:16px;color:#3a3b3f">Mi nombre es Nombre Agente, y voy a ser quien va a seguir tu reserva. <br>
                            En breve estaré poniendome en contacto contigo.</div>
                            <div id="login-msg" >Mientras tanto, puedes seguir <a href="home.html">navegando</a></div>


                    </div>
                </div>
            </div>
        </form> 
        <!--Form-->

    </div>
</section>