 <p class="bottom-data text-center">Ante cualquier duda comunicate a <a href="mailto:taglit@vietur.com.ar" >taglit@vietur.com.ar</a> /  ó por whatsapp al <a href="https://wa.me/1XXXXXXXXXX">xxxxxx </a> Horario de Atención dias habiles de 10.00 a  18.00 hs</p>        