{# reemplazar todo contact-support.njk #}

{% import "macros/macro-formField.njk" as formfield %} 

<section class="contact-support" >
    <div class="container-lg">
        <div class="row">
            <div class="w-75 mx-auto">
                <div class="row">
                    <div class="d-flex flex-column col-lg-6 col-md-12 col-sm-12 col-12 align-items-stretch order-lg-0 md-order-1">
                        <div class="text">
                            <h3>¿Alguna duda? Preguntale a un experto</h3>
                            <p>Nuestro equipo ha viajado a cientos de países de todo el mundo y tiene años de experiencia para compartir contigo. 
                            ¡Contáctanos ahora para que ellos respondan a todas las preguntas relacionadas con el tour que deseas!</p>
                        </div>
                        <div class="d-flex mt-3">
                            <button type="button" class="btn md_btn fill brand-primary radius-5" title="Contacta a un agente" data-bs-toggle="modal" data-bs-target="#agentModal">Contactate</button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 align-items-stretch md-order-0">
                        <div class="image-container">
                            <img  src="content/img/shared/support-agents.jpg" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact support modal-->
<div class="modal fade" id="agentModal" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>

    <div class="modal-dialog sm-modal">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-lg-flex flex-row align-items-center">
                    <div class="d-lg-flex flex-column">
                        <h5 class="modal-title" id="agentModalLabel">Dejanos tu consulta</h5>
                        <p>Ponte en contacto con nosotros sobre cualquiera de nuestras tours.Nuestros expertos se comunicarán a la brevedad</p>
                    </div>
                    <img src="content/img/shared/contact-support-3-agents.png" width="270">
                </div>
                
            </div>
            <form action="#" class="form_content parsley js_form_validation">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6 offset-md-right-6">
                            {{ formfield.inputTextValid("text", "name", "","Nombre","","Ingresa tu nombre", "") }}
                        </div>
                        <div class="col-md-6">
                            {{ formfield.inputMailValid( "email", "","Mail","Ingresa tu mail", "") }}
                        </div>
                        <div class="col-md-6">
                            {{ formfield.input("number", "mobile", "","Número de celular (opcional)","","+54 1234 567890", "") }}
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="position-relative text-center">
                                    <label for="inputSpinnerAdults">Mayores</label>
                                </div>
                
                                <input type="number" 
                                name="inputSpinnerAdults" id="inputSpinnerAdults"
                                class="input-spinnumber" 
                                value="1"
                                min="1" step="1"
                                minlength="1"
                                data-parsley-trigger="change"
                                data-parsley-required-message= "Ingresa al menos 1 pasajero"
                                data-parsley-minlength-message= "Ingresa al menos 1 pasajero"
                                data-parsley-required/>

                            </div>
                        </div>
                        <div class="col-md-3 offset-md-right-6">
                            <div class="form-group ">
                                <div class="position-relative text-center">
                                    <label for="inputSpinnerMinors">Menores</label>
                                </div>
                                <input type="number" 
                                name="inputSpinnerMinors" id="inputSpinnerMinors"
                                class="input-spinnumber" 
                                placeholder="0"
                                min="0" step="1"/>

                            </div>
                        </div>
                        <div class="col-12">
                            {{formfield.TextareaValid("mensaje", "textarea","Tu pregunta",  "Escribe aquí ...", "")}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn md_btn btn-grey radius-5" data-bs-dismiss="modal">Cerrar</button>
                    <input type="submit" value="Enviar" id="send" class="btn md_btn fill radius-5 brand-primary">
                </div>
             </form>
        </div>
    </div>
</div>
<!--Contact support modal-->