{# reemplazar todo contact-support.njk #}

{% import "macros/macro-formField.njk" as formfield %} 

<section class="contact-support" >
    <div class="container-lg">
        <div class="row">
            <div class="w-75 mx-auto">
                <div class="row">
                    <div class="d-flex flex-column col-lg-6 col-md-12 col-sm-12 col-12 align-items-stretch order-lg-0 md-order-1">
                        <div class="text">
                            <h3>¿Alguna duda? Preguntale a un experto</h3>
                            <p>Nuestro equipo ha viajado a cientos de países de todo el mundo y tiene años de experiencia para compartir contigo. 
                            ¡Contáctanos ahora para que ellos respondan a todas las preguntas relacionadas con el tour que deseas!</p>
                        </div>
                        <div class="d-flex mt-3">
                            <button type="button" class="btn md_btn fill brand-primary radius-5 contact-agent" title="Contacta a un agente" data-bs-toggle="modal" data-bs-target="#agentModal">Contactate</button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 align-items-stretch md-order-0">
                        <div class="image-container">
                            <img  src="content/img/shared/support-agents.jpg" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Contact an agent modal-->
    {% block contactAnAgentModal %}
        {% include "shared/modal/_contact-an-agent-modal.njk" %}
    {% endblock %}
    <!--Contact an agent modal-->

    <!--Contact an agent modal success-->
   {% block contactAnAgentModalSuccess %}
        {% include "shared/modal/_contact-an-agent-modal-success.njk" %}
    {% endblock %}
    <!--Contact an agent modal success-->
</section>
