{# reemplazar todo contact-support.njk #}

{% import "macros/macro-formField.njk" as formfield %} 

<section class="contact-support" >
    <div class="container-lg">
        <div class="row">
            <div class="w-75 mx-auto">
                <div class="row">
                    <div class="d-flex flex-column col-lg-6 col-md-12 col-sm-12 col-12 align-items-stretch order-lg-0 md-order-1">
                        <div class="text">
                            <h3>¿Alguna duda? Preguntale a un experto</h3>
                            <p>Nuestro equipo ha viajado a cientos de países de todo el mundo y tiene años de experiencia para compartir contigo. 
                            ¡Contáctanos ahora para que ellos respondan a todas las preguntas relacionadas con el tour que deseas!</p>
                        </div>
                        <div class="d-flex mt-3">
                            <button type="button" class="btn md_btn fill brand-primary radius-5 contact-agent" title="Contacta a un agente" data-bs-toggle="modal" data-bs-target="#agentModal">Contactate</button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 align-items-stretch md-order-0">
                        <div class="image-container">
                            <img  src="content/img/shared/support-agents.jpg" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Contact support modal-->
    <div class="modal fade agent-modal" id="agentModal" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>

        <div class="modal-dialog sm-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-lg-flex flex-row align-items-center">
                        <div class="d-lg-flex flex-column">
                            <h4 class="modal-title" id="agentModalLabel">Dejanos tu consulta</h4>
                            <p>Ponte en contacto con nosotros sobre cualquiera de los tours. Nuestros expertos  se comunicarán a la brevedad.</p>
                        </div>
                        <img src="content/img/shared/contact-support-3-agents.png" width="270">
                    </div>
                    
                </div>
                <form action="#" class="form_content parsley js_form_validation">
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-6 offset-md-right-6">
                                {{ formfield.inputTextValid("text", "name", "","Nombre","","Ingresa tu nombre", "") }}
                            </div>
                            <div class="col-md-6">
                                {{ formfield.inputMailValid( "email", "","Mail","Ingresa tu mail", "") }}
                            </div>
                            <div class="col-md-6">
                                {{ formfield.input("number", "mobile", "","Número de celular (opcional)","","+54 1234 567890", "") }}
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">  <label> Cantidad de pasajeros (Opcional) </label> </div>
                            </div>
                            <div class="col-md-4">
                            
                                <div class="form-group input-spinner">
                                
                                    <input type="number" 
                                    name="inputSpinnerAdults" 
                                    id="inputSpinnerAdults"
                                    class="input-spinnumber" 
                                    value="0"
                                    data-suffix="Mayores"
                                    min="0" step="1"/>

                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group input-spinner">
                                
                                    <input type="number" 
                                    name="inputSpinnerMinors" id="inputSpinnerMinors"
                                    class="input-spinnumber" 
                                    value="0"
                                    data-suffix="Menores"
                                    min="0" step="1"/>

                                </div>
                            </div>
                            <div class="col-12">
                                {{formfield.TextareaValid("mensaje", "textarea","Tu pregunta",  "Escribe aquí ...", "")}}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn md_btn btn-grey radius-5" data-bs-toggle="modal" data-bs-target="#agentModalSuccess">Disparar modal consulta enviada</button>

                        <button type="button" class="btn md_btn btn-grey radius-5" data-bs-dismiss="modal">Cerrar</button>
                        <input type="submit" value="Enviar" id="send" class="btn md_btn fill radius-5 brand-primary" >
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Contact support modal-->

    <!--Contact support modal success-->
    <div class="modal fade agent-modal success" id="agentModalSuccess" tabindex="-1" aria-labelledby="agentModalSuccessLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>

        <div class="modal-dialog sm-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-lg-flex flex-row align-items-center justify-content-between w-100">
                        <div class="d-lg-flex flex-column">
                            <svg class="animated-check"version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2"><circle class="path circle" fill="none" stroke="#17AD5D" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/><polyline class="path check" fill="none" stroke="#17AD5D" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/></svg>
                            <h4 class="success-title text-center" id="agentModalSuccessLabel">Consulta Enviada</h4>
                            <p class="tky-text">Gracias por contactarte con nosotros.</p>
                            <p class=" text-center">Nuestro equipo de expertos se pondrá en contacto en breve.</p>
                        </div>
                        <img src="content/img/shared/contact-support-3-agents.png" width="270">
                    </div> 
                </div>
                <hr class="gradient">
                <div class="modal-body">
                    <div class="row">
                        
                        {# <h4 class="modal-title" >Nuestro equipo de expertos se pondrá en contacto en breve.</h4> #}
                        <p>Puedes <a href="#" class="link">Registrate</a>, si aun no lo has hecho. </p>
                    </div>
                    <ul class="list brand-bullets">
                        <li class="list-item">Acceso exclusivo a novedades y ofertas.</li>
                        <li class="list-item">Respuestas rápidas directamente con un experto para que responda todas tus consultas.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn md_btn btn-grey radius-5" data-bs-dismiss="modal">Cerrar</button>
                    {# <input type="submit" value="Enviar" id="send" class="btn md_btn fill radius-5 brand-primary"> #}
                </div>
              
            </div>
        </div>
    </div>
    <!--Contact support modal success-->
</section>
