 <section class="cta-section align-items-center cta-2">
    <div class="row">
        <div class="d-flex align-items-center cta-content">
            <img  src="content/img/product/contact-support-woman.png" title="" class="desktop_show">
            <div class="d-flex flex-column text-container">
                <h4 class="cta-title">Personaliza tu viaje! </h4>
                <p>Estas buscando una fecha de salida especial o una estadia antes o despues de iniciar el tour? Quieres agregar un servicio adicional? ... o ya tenes tu ticket aereo? Nuestros expertos estan para ayudarte y adaptar nuestro tour a tu medida.</p>
            </div>
            <a href="#" class="btn md_btn fill radius-5 brand-primary align-self-end">Personalizar </a>
        </div>
    </div>
</section>