
 <div class="paymode" id="paymode-items">
    <a href="#" class="slide d-flex flex-column align-items-center justify-content-center" >
        <img src="content/img/home-paymode-slider/slide-1.jpg" />
    </a>
    <a href="#" class="slide d-flex flex-column align-items-center justify-content-center" >
        <img src="content/img/home-paymode-slider/slide-2.jpg" />
    </a>
</div>