 <!--TYC check-->
<div class="d-flex flex-row checkbox form-group justify-content-center tyc">
    <label class="container-check">
        
        <input type="checkbox"  name="tyc" id="tyc"
        data-parsley-checkmin="1" 
        data-parsley-required-message= "Debes aceptar los términos y condiciones"
        required>
        
        <span class="checkmark" ></span>
    </label>
    <p>Acepto los <a class="link" href="terms-and-conditions.html" title="Términos y condiciones" target="_blank">Términos y condiciones </a> y la Política de privacidad de TourExperto.</p>

</div>
<!--TYC check-->