 <div class="row mt-4 hero-cta" >
    <div class="col-lg-4 col-md-12 d-flex align-items-center" >
        <p>Empieza a planificar tu viaje</p>
    </div>
    <div class="col-lg-3 col-md-12 d-pr-0" >
        <a href="#" class="btn md_btn linear radius-5 brand-primary"><i class="fas fa-download"></i>Descargar PDF </a>
    </div>
    <div class="col-lg-5 col-md-12" >
        <a href="#" class="btn md_btn linear radius-5 brand-primary"><i class="fas fa-comment-alt"></i>Consultar con un experto </a>
    </div>
    
</div>