<div class="row mt-4 hero-map" >
    <div class="map-container" >
        <img src="content/img/product/map.png" width="100%" >
        <a href="#" class="btn md_btn fill shaddow radius-50 white"><i class="far fa-map"></i>Ver el mapa completo </a>
    </div>
    
</div>