<div class="d-flex flex-column  align-items-start">
    <div class="prod-tit max-250 pt-0">Duración:</div>
    <div class="prod-desc max-250">4 días - 3 Noches</div>
    <div class="prod-tit max-250">Inicia/Finaliza:</div>
    <div class="prod-desc max-250">Madrid / Madrid</div>
    <div class="prod-tit">Recorre:</div>
    <div class="prod-desc">Madrid, Zaragoza, Barcelona, Costa Azul, Monaco, Genova, Venecia, Florencia,  Roma, Pisa, Turin.</div>
    <div class="d-flex flex-row justify-content-between id">
        <div class="d-flex flex-column">
            <div class="prod-tit">Proveedor:</div>
            <div class="prod-desc">Europamundo</div>
        </div>
        <div class="d-flex flex-column ">
            <div class="prod-tit ">ID:</div>
            <div class="prod-desc">123456</div>
        </div>

    </div>
</div>