<div class="carousel-container slider">
    {# <img src="content/img/iso-sm.png" class="iso-sm iso-slider" title="Tour Experto"> #}
    <div class="main-slider carousel-fade" id="main-product-slider">
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-1.png);"></div>
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-5.jpg);"></div>
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-3.jpg);"></div>
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-6.jpg);"></div>
    </div>
</div>