<div class="d-flex flex-wrap mt-4">
    <button type="button" class="btn xs_btn btn-tag radius-50">Explorer</button>
    <button type="button" class="btn xs_btn btn-tag radius-50 ">Private</button>
    <button type="button" class="btn xs_btn btn-tag radius-50 ">Group</button>
    <button type="button" class="btn xs_btn btn-tag radius-50 ">Fully Guided</button>
    <button type="button" class="btn xs_btn btn-tag radius-50 ">Easy</button>
</div>