<div class="modal fade destinations-modal" id="destinationsModal" tabindex="-1" aria-labelledby="destinationsModalLabel" >
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>

    <div class="modal-dialog lg-modal">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-lg-flex flex-row align-items-center">
                    <div class="d-lg-flex flex-column">
                        <h4 class="modal-title brand-title" id="agentModalLabel">Destinos</h4>
                    </div>
                </div>

            </div>
            <hr class="gradient mt-0 mb-0">

            <div class="modal-body footerless">
                <div class="d-lg-flex justify-content-between">
                    <ul class="list-group">
                        <li class="list-group-item item-title">America</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Argentina</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Brasil</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Canáda</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Chile</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Colombia</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Costa Rica</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Cuba</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Ecuador</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Estados Unidos</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Mexico</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Panama</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Peru</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Puerto Rico</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Republica Dominicana</a></li>
                        <li class="list-group-item"><a class="link" href="#" >Ver más </a></li>

                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item item-title">Europa</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Albania</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Alemania</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Armenia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Austria</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Belgica</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Bulgari</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Chipr</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Croacia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Dinamarca</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Escocia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Eslovenia</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >España</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Francia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Gales</a></li>
                        <li class="list-group-item"><a class="link" href="#" >Ver más </a></li>
                    
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item item-title">Lejano Oriente</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >China</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Corea del Sur</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >India</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Indonesia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Japon</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Libano</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Libia</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Maldiva</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Nepal</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Nueva Zelanda</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Siria</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Tailandia</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Taiwan</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Vietnam</a></li>
                        <li class="list-group-item"><a class="link" href="#" >Ver más </a></li>
                    </ul>
                        <ul class="list-group">
                        <li class="list-group-item item-title">Medio Oriente</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Egipto</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Emiratos Arabes</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Grecia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Israel</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Jordania</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Marruecos</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Oman</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Palestina</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Tunez</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Turquia</a></li>                                           
                    </ul>
                        <ul class="list-group">
                        <li class="list-group-item item-title">Rusia y Paises Balticos</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Estonia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Letonia</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Lituania</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="#" >Rusia</a></li>                                           
                    
                    </ul>
                </div>

            </div>
            

        </div>
    </div>
</div>