<div class="modal fade destinations-modal" id="destinationsModal" tabindex="-1" aria-labelledby="destinationsModalLabel" >
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>

    <div class="modal-dialog lg-modal">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-lg-flex flex-row align-items-center">
                    <div class="d-lg-flex flex-column">
                        <h4 class="modal-title brand-title" id="agentModalLabel">Destinos</h4>
                    </div>
                </div>

            </div>
            <hr class="gradient mt-0 mb-0">

            <div class="modal-body footerless">
                <div class="d-lg-flex justify-content-between">
                    <ul class="list-group">
                        <li class="list-group-item item-title">America</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Argentina</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Brasil</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Canáda</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Chile</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Colombia</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Costa Rica</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Cuba</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Ecuador</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Estados Unidos</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Mexico</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Panama</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Peru</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Puerto Rico</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Republica Dominicana</a></li>
                        <li class="list-group-item"><a class="link" href="search.html" >Ver más </a></li>

                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item item-title">Europa</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Albania</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Alemania</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Armenia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Austria</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Belgica</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Bulgari</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Chipr</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Croacia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Dinamarca</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Escocia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Eslovenia</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >España</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Francia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Gales</a></li>
                        <li class="list-group-item"><a class="link" href="search.html" >Ver más </a></li>
                    
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item item-title">Lejano Oriente</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >China</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Corea del Sur</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >India</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Indonesia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Japon</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Libano</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Libia</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Maldiva</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Nepal</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Nueva Zelanda</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Siria</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Tailandia</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Taiwan</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Vietnam</a></li>
                        <li class="list-group-item"><a class="link" href="search.html" >Ver más </a></li>
                    </ul>
                        <ul class="list-group">
                        <li class="list-group-item item-title">Medio Oriente</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Egipto</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Emiratos Arabes</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Grecia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Israel</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Jordania</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Marruecos</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Oman</a></li>                                          
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Palestina</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Tunez</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Turquia</a></li>                                           
                    </ul>
                        <ul class="list-group">
                        <li class="list-group-item item-title">Rusia y Paises Balticos</a></li>
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Estonia</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Letonia</a></li>                                            
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Lituania</a></li>                                           
                        <li class="list-group-item"><a class="list-group-item-action" href="search.html" >Rusia</a></li>                                           
                    
                    </ul>
                </div>

            </div>
            

        </div>
    </div>
</div>