 <div class="modal fade products-modal" id="productsModal" tabindex="-1" aria-labelledby="productsModalLabel" >
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>

    <div class="modal-dialog xs-modal">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-lg-flex flex-row align-items-center">
                    <div class="d-lg-flex flex-column">
                        <h4 class="modal-title brand-title" id="agentModalLabel">Productos</h4>
                    </div>
                </div>

            </div>
            <hr class="gradient mt-0 mb-0">

            <div class="modal-body footerless d-lg-flex ">
                <ul class="list-group">
                    <li class="list-group-item"><a class="list-group-item-action" href="#" >Con aereos incluido</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#" >En Familia</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#" >Exclusivos</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#" >Exóticos</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#" >LGBTQ+</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#" >Religiosos</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#" >Romanticos</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#" >Solos y Solas</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#" >Viajes de mujeres</a></li>
                </ul>
            </div>
            

        </div>
    </div>
</div>