.pgmyaccount {

    .title,.subtitle{
        color: $grey-text-default;
        font-weight: 700;

    }
    .title{
        font-size: $t32;
    }
    .subtitle{
        font-size: $t26;
    }
   
    .birthday .default.form-group, 
    .default .select2-container--default{
        width:50px !important
    }
   
    //color gris en bordes de combos
    .form-group .select2-container--default .select2-selection--single{
        border-color: $grey-5;
        color: $grey-5;
       
    }
    .form-group .form-control,
    .form-group .select2-container--default {
        max-width: 285px;
    }
   
    .button-container .btn{
        min-width: 300px;
    }
    .form-group.error .select2-container--default .select2-selection--single{
        border-color: $error-color;
        color: $error-color;
       
    }
   

    .drop_wrapper {
        display:flex;
        justify-content:center;
        max-width:400px;
    }
    .thumbs_container.form-group{
        display: flex;
        align-items: center;
    
    }
    .image-group{
        padding:20px;
        overflow: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        .thumbs_lg{
            min-width: 100px;
            min-height: 100px;
            margin-bottom:30px;
        }
        .form-group.error{
            overflow: visible;
        }
    }
    .img-description{
        color: $grey-5;
        font-size: $t11;
        
        span{
            font-weight: bold;
            color: $grey-4;
        }
    }

}


/*MQ
--------------------------------------*/
@include media(dk){
    .subtitle{
        margin-bottom:20px;
    }
    .image-group{
        min-height: 400px;
    }
    .birthday-group{
        .form-group.three_elem:first-child{
            padding-left:0px;
        }
        .form-group.three_elem:last-child{
            padding-right:0px;
        }
        .form-group .select2-container--default .select2-selection--single{
            min-width:85.7px;
            width:100%;
        }
    }
    .personal-data .form-group,
    .change-password .form-group{
        max-width:300px;
    }
   
    
  
}


@include media(mb){
    .myaccount-form .d-flex{
        align-items:center;
    }
    .form-group .select2-container--default .select2-selection--single{
        width:280px;
       
    }
    .birthday-group{
        .form-group .select2-container--default .select2-selection--single{
            min-width:80px;
            width:100%;
        }
    }
    .form-group{
        max-width:300px;
    }
   

}