{#  FIN Elementos SIN validaciones. #}
{% macro input(type, name, class,label,labelhelp,  placeholder, value) %}
  <div class="form-group {{ class }}">
        <div class="position-relative">
            <label for="{{ name }}">{{ label }}</label>
            <span class="label-help">{{ labelhelp }}</span>
        </div>
        <input type="{{ type }}" class="form-control" 
        name="{{ name }}" id="{{ name }}" 
        placeholder="{{ placeholder }}" 
        value="{{ value }}"
        autocomplete="off">
    </div>
{% endmacro %}
{% macro comboSingle(name,formGroupClass, searchclass, label, placeholder, style, o0,o1,o2,o3) %}
  <div class="form-group {{ formGroupClass}}">
        <div class="position-relative">
            <label for="{{ name }}">{{ label }}</label>
        </div>
        <select  class="form-control select2 {{searchclass}}" id="{{ name }}" name="{{ name }}" 
        tabindex="-1" aria-hidden="true"  style="{{ style }}" data-placeholder="{{ placeholder }}" >
            <option></option>
            <option value="0" >{{ o0 }}</option>
            <option value="1" >{{ o1 }}</option>
            <option value="2" >{{ o2 }}</option>
            <option value="3" >{{ o3 }}</option>
        </select>
    </div>
{% endmacro %}

{% macro comboMultiple(name, placeholder, o0, o1, o2, o3,o4, o5, o6, o7,o8, o9, o10) %}
    <div class="form-group tags">
        <select class="form-control select2 tag" multiple id="{{ name }}" name="{{ name }}"  
        tabindex="-1" aria-hidden="true"  style="{{ style }}" data-placeholder="{{ placeholder }}">
            <option></option>
            <option value="0">{{ o0 }}</option>
            <option value="1">{{ o1 }}</option>
            <option value="2">{{ o2 }}</option>
            <option value="3">{{ o3 }}</option>
            <option value="0">{{ o4 }}</option>
            <option value="1">{{ o5 }}</option>
            <option value="2">{{ o6 }}</option>
            <option value="3">{{ o7 }}</option>
            <option value="0">{{ o8 }}</option>
            <option value="1">{{ o9 }}</option>
            <option value="2">{{ o10 }}</option>
        </select>
    </div>
{% endmacro %}
{#  FIN Elementos sin validaciones. #}

{#  Elementos con validaciones. #}
{% macro inputTextValid(type, name, class,label,labelhelp,  placeholder, value) %}
  <div class="form-group {{ class }}">
        <div class="position-relative">
            <label for="{{ name }}">{{ label }}</label>
            <span class="label-help">{{ labelhelp }}</span>
        </div>
        <input type="{{ type }}" class="form-control" 
        name="{{ name }}" id="{{ name }}" 
        placeholder="{{ placeholder }}" 
        value="{{ value }}"
        autocomplete="off"
        data-parsley-trigger="change"
        data-parsley-required-message= "Debes completar este campo"
        data-parsley-required >
    </div>
{% endmacro %}



{% macro inputcvvValid(type, name, class,label, placeholder, value) %}
  <div class="form-group {{ class }}">
    <div class="position-relative">
        <label for="{{ name }}">{{ label }}</label>
        <span class="label-help">Código de seguridad</span>
    </div>
    <input type="{{ type }}" class="form-control" 
    name="{{ name }}" id="{{ name }}" 
    placeholder="{{ placeholder }}" 
    value="{{ value }}"
    autocomplete="off"
    data-parsley-trigger="change"
    data-parsley-required-message= "Debes completar este campo"
    data-parsley-required >
    <a href="#" class="d-inline-block tooltip-white" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" title="" data-bs-original-title="<img src='content/img/shared/cvv.jpg' title='cvv'>">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><g><g><path fill="#d3d3d3" d="M10.4 9.092c-.742.431-.994.747-.994 1.292v.337h-1.48l-.012-.366c-.072-.879.235-1.425 1.006-1.877.72-.43 1.024-.703 1.024-1.232s-.512-.917-1.147-.917c-.644 0-1.109.418-1.143 1.05H6.14C6.17 6.004 7.185 5.032 8.9 5.032c1.599 0 2.7.887 2.7 2.162 0 .849-.41 1.433-1.2 1.897zm-1.714 4.132c-.503 0-.913-.383-.913-.878 0-.49.41-.878.913-.878.507 0 .917.383.917.878s-.406.878-.917.878zM8.869.262C3.97.262 0 4.232 0 9.13 0 14.03 3.97 18 8.87 18c4.898 0 8.868-3.97 8.868-8.87 0-4.898-3.97-8.868-8.869-8.868z"/></g></g></svg>
    </a>
</div>
{% endmacro %}



{% macro inputMailValid(type="email", name, class,label,  placeholder, value) %}
  <div class="form-group {{ class }}">
        <label for="{{ name }}">{{ label }}</label>
        <input type="{{ type }}" class="form-control" 
        name="{{ name }}" id="{{ name }}" 
        placeholder="{{ placeholder }}" 
        value="{{ value }}"
        autocomplete="off"
        data-parsley-trigger="change"
        data-parsley-required-message= "Debes completar este campo"
        data-parsley-type-message= "Debes ingresar un mail válido."
        data-parsley-required >
    </div>
{% endmacro %}

{% macro comboSingleValid(name, class,label, placeholder, style, o0, o1, o2, o3, selected) %}
  <div class="form-group {{ class }}">
        <label for="{{ name }}">{{ label }}</label>
        <select id="{{ name }}" name="{{ name }}" class="form-control select2" 
        tabindex="-1" aria-hidden="true"  style="{{ style }}" data-placeholder="{{ placeholder }}"
        data-parsley-trigger="change"
        data-parsley-required-message= "Seleccionar"
        data-parsley-required>
            <option></option>
            <option value="0" {{ selected }}>{{ o0 }}</option>
            <option value="1" >{{ o1 }}</option>
            <option value="2" >{{ o2 }}</option>
            <option value="3" >{{ o3 }}</option>
        </select>
    </div>
{% endmacro %}

{% macro comboMultipleValid(name, label, placeholder, o0, o1, o2, o3, selected) %}
    <div class="form-group tags">
        <label for="{{ name }}">{{ label }}</label>
        <select class="form-control select2 tag" multiple id="{{ name }}" name="{{ name }}"  data-placeholder="{{ placeholder }}" 
        data-parsley-trigger="change"
        data-parsley-required-message= "Seleccionar"
        data-parsley-required>
            <option></option>
            <option value="0">{{ o0 }}</option>
            <option value="1" {{ selected }}>{{ o1 }}</option>
            <option value="2">{{ o2 }}</option>
            <option value="3">{{ o3 }}</option>
        </select>
    </div>
{% endmacro %}

