<section class="row recent-view">

    <div id="RecentView" class="slider">
       
        <div class="slide d-flex flex-xl-column align-items-center" >
            <div class="caption-wrapper"  >
               
                <div class="caption-container" style="background-image: url(content/img/product-list/prod-1-short.jpg)" >
                    <span class="bookmark active" > 
                        <i class="far fa-heart"></i>
                    </span>
                </div>
                    <div class="slide-text">
                        <h3 class="slide-title"><a href="product.html">Nombre del programa</a></h3>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <div class="rating-desc"><span class="badge">4</span><span class="badge-text">214 reviews</span></div>
                        </div>
                        <p class="slide-desc">10 días desde <span class="highlight-text">USD 1234</span></p>
                     </div>
                   
            </div>
        </div>

         <div class="slide d-flex flex-xl-column align-items-center" >
            <div class="caption-wrapper"  >
               
                <div class="caption-container" style="background-image: url(content/img/product-list/prod-2-short.jpg)" >
                    <span class="bookmark active" data-titla="eliminar"> 
                        <i class="far fa-heart"></i>
                    </span>
                </div>
                <div class="slide-text">
                    <h3 class="slide-title"><a href="product.html">Nombre del programa</a></h3>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <div class="rating-desc"><span class="badge">4</span><span class="badge-text">214 reviews</span></div>
                    </div>
                    <p class="slide-desc">10 días desde <span class="highlight-text">USD 1234</span></p>
                    </div>
                   
            </div>
        </div>

         <div class="slide d-flex flex-xl-column align-items-center" >
            <div class="caption-wrapper"  >
               
                <div class="caption-container" style="background-image: url(content/img/product-list/prod-1-short.jpg)" >
                    <span class="bookmark active" data-titla="eliminar"> 
                        <i class="far fa-heart"></i>
                    </span>
                </div>
                    <div class="slide-text">
                        <h3 class="slide-title"><a href="product.html">Nombre del programa</a></h3>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <div class="rating-desc"><span class="badge">4</span><span class="badge-text">214 reviews</span></div>
                        </div>
                        <p class="slide-desc">10 días desde <span class="highlight-text">USD 1234</span></p>
                     </div>
                   
            </div>
        </div>

         <div class="slide d-flex flex-xl-column align-items-center" >
            <div class="caption-wrapper"  >
               
                <div class="caption-container" style="background-image: url(content/img/product-list/prod-2-short.jpg)" >
                    <span class="bookmark active" data-titla="eliminar"> 
                        <i class="far fa-heart"></i>
                    </span>
                </div>
                    <div class="slide-text">
                        <h3 class="slide-title"><a href="product.html">Nombre del programa</a></h3>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <div class="rating-desc"><span class="badge">4</span><span class="badge-text">214 reviews</span></div>
                        </div>
                        <p class="slide-desc">10 días desde <span class="highlight-text">USD 1234</span></p>
                     </div>
                   
            </div>
        </div>

         <div class="slide d-flex flex-xl-column align-items-center" >
            <div class="caption-wrapper"  >
               
                <div class="caption-container" style="background-image: url(content/img/product-list/prod-1-short.jpg)" >
                    <span class="bookmark active" data-titla="eliminar"> 
                        <i class="far fa-heart"></i>
                    </span>
                </div>
                    <div class="slide-text">
                        <h3 class="slide-title"><a href="product.html">Nombre del programa</a></h3>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <div class="rating-desc"><span class="badge">4</span><span class="badge-text">214 reviews</span></div>
                        </div>
                        <p class="slide-desc">10 días desde <span class="highlight-text">USD 1234</span></p>
                     </div>
                   
            </div>
        </div>
        
    </div>
</section>