{% extends "layout/_default.njk" %}
{% set pgMyaccount = true %}
{% block bodyClass %} pgmyaccount {% endblock %}

{% import "macros/macro-formField.njk" as formfield %} 


{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="content/css/my-account.css">
{% endblock %} 

{% block content %}
<div class="content myaccount container-lg" id="myaccount">
   
    <section class="row">

       
        <div class="col-12">

            <!--Personal data-->
            {% block personalData %}
                {% include "partials/my-account/_personal-data.njk" %}
            {% endblock %} 
            <!--Personal data-->
            <!--Email preferences-->
            {% block emailPreferences %}
                {% include "partials/my-account/_email-preferences.njk" %}
            {% endblock %} 
            <!--Email preferences-->

             <!--Email preferences-->
            {% block passwordChanges %}
                {% include "partials/my-account/_password-changes.njk" %}
            {% endblock %} 
            <!--Email preferences-->

        </div>
     

    </section>

    <div class="mt-5 mb-5">
        <!--Contact support-->
        {% block contactSupport %}
            {% include "shared/_contact-support.njk" %}
        {% endblock %} 
    </div>

    
   

</div>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript" src="content/js/my-account.js"></script>
    <script type="text/javascript" src="content/js/thumbsfile.js"></script>
{% endblock %}



