{% extends "layout/_default.njk" %}
{% set pgMyaccount = true %}
{% block bodyClass %} pgmyoperations {% endblock %}

{% import "macros/macro-formField.njk" as formfield %} 


{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="content/css/my-operations.css">
{% endblock %} 

{% block content %}
<div class="content myoperations container-lg" id="myoperations">
   
      <section class="row">

       
        <div class="col-12">

            <!--Personal data-->
            {% block operations %}
                {% include "partials/my-operations/_dashboard-table.njk" %}
            {% endblock %} 
            <!--Personal data-->
        

        </div>
     

    </section>

   

</div>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript" src="content/js/my-operations.js"></script>
{% endblock %}



