{% extends "layout/_default.njk" %}
{% set pgMyaccount = true %}
{% block bodyClass %} pgmysavedtours {% endblock %}




{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="content/css/my-saved-tours.css">
{% endblock %} 

{% block content %}
<div class="content mysavedtours container-lg" id="mysavedtours">
   
    <section class="row carousel">

       
        <div class="col-12">

            <div class="d-flex flex-column">
                <!--Título h1 visible o invisible.NO BORRAR. Necesario para SEO-->
                <h1 class="title d-none">Mis Tours</h1>
                <div class="mt-5">

                    <h2 class="title2">Tours guardados</h2>
                      
                    {% block saved %}
                        {% include "partials/my-saved-tours/_saved-tours.njk" %}
                    {% endblock %} 
                    
                </div>
          
                <div class="mt-5 mb-5">

                    <h2 class="title2">Vistos recientemente</h2>
                       
                    {% block recentView %}
                        {% include "partials/my-saved-tours/_recent-view.njk" %}
                    {% endblock %} 

                </div>
            </div>

        </div>
     

    </section>

    <div class="mt-5 mb-5">
        <!--Contact support-->
        {% block contactSupport %}
            {% include "shared/_contact-support.njk" %}
        {% endblock %} 
    </div>

    
   

</div>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript" src="content/js/my-saved-tours.js"></script>
{% endblock %}



