{% extends "layout/_default.njk" %}
{% set pgPayment = true %}
{% block bodyClass %} pgpayment {% endblock %}
{% import "macros/macro-experts.njk" as expert %} 
{% import "macros/macro-formField.njk" as formfield %} 

{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="content/css/payment.css">
{% endblock %} 

{% block content %}
<div class="content container-lg" id="payment">
   
    <section class="row">

        <!--Left side-->
        <div class="col-lg-8 col-md-12 left-col">

            <div class="d-flex flex-column">

                <!--Expert2 2 section-->
                {% block expert2Message %}

                    {# {% macro expert2(boxstyle,title, message, cta classes, cta text ) %} #}
                    {{ expert.expert2(
                    "expert-3",
                    "contact-support-young-woman.png",
                    "Felicitaciones  xxxxxxxx!", 
                    "Mi nombre es xxxxx y voy a ser quien va a seguir tu reserva.",
                    "btn sm_btn btn-alpha fill brand-primary radius-5 align-self-end",
                    "Consultame" ) }}

                {% endblock %}
                <!--Expert 2 section-->

                <hr class="spacer w-100 mx-auto">

                <!--Form-->
                <form action="#" class="form_content parsley js_form_validation">
                    <section >
                        <h2 class="title">Selecciona tu forma de pago:</h2>
                        <div class="form-group"> 
                            
                            <div class="card card-radius-40 radio">            
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex flex-row  align-items-center justify-content-start paymentway">
                                        <label class="container-check">
                                            <input type="radio"  name="paymentmethod" id="op1"
                                            data-parsley-required="true" 
                                            data-parsley-required-message= "Debes seleccionar al menos una opción"
                                            >
                                            <span class="checkmark" ></span>
                                        </label>
                                        <div class="d-flex flex-column">
                                            <h3 class="subtitle">Pago a traves de un experto</h3>
                                            <p>Si quieres  pagar en tu moneda local o conocer otras modalidades de pago, un experto se contactara para gestionar el pago de tu reserva en las próximas 24 hs. ¿Te ha quedado alguna duda?.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="card card-radius-40 radio">            
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex flex-row align-items-center justify-content-start paymentway">
                                        <label class="container-check">
                                            <input type="radio"  name="paymentmethod" id="op2"
                                            data-parsley-required="true" 
                                            data-parsley-required-message= "Debes seleccionar una opción"
                                            >
                                            <span class="checkmark" ></span>
                                        </label>
                                        <div class="d-flex flex-column w-100">
                                            <div class="d-lg-flex flex-row align-items-center justify-content-between">
                                                <h3 class="subtitle">Pago total con tarjeta de Credito</h3>
                                                <div class="d-flex flex-row align-items-center justify-content-between">
                                                    <img class="payment-icon" src="content/img/shared/credit-cards/visa.svg" title="visa">
                                                    <img class="payment-icon" src="content/img/shared/credit-cards/master.svg" title="Mastercard">
                                                    <img class="payment-icon" src="content/img/shared/credit-cards/maestro.svg" title="Maestro">
                                                    <img class="payment-icon" src="content/img/shared/credit-cards/amex.svg" title="American Express">
                                                </div>
                                                
                                            </div>
                                            <p>Congela tu tarifa y accede a descuentos especiales con la compra de tu viaje.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="card card-radius-40 radio">            
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex flex-row align-items-center justify-content-start paymentway">
                                        <label class="container-check">
                                            <input type="radio"  name="paymentmethod" id="op3"
                                            data-parsley-required="true" 
                                            data-parsley-required-message= "Debes seleccionar una opción">
                                            <span class="checkmark" ></span>
                                        </label>
                                        <div class="d-flex flex-column w-100">
                                            <div class="d-lg-flex flex-row align-items-center justify-content-between">
                                                <h3 class="subtitle">Reserva con tarjeta de Credito</h3>
                                                <div class="d-flex flex-row align-items-center justify-content-between">
                                                    <img class="payment-icon" src="content/img/shared/credit-cards/visa.svg" title="visa">
                                                    <img class="payment-icon" src="content/img/shared/credit-cards/master.svg" title="Mastercard">
                                                    <img class="payment-icon" src="content/img/shared/credit-cards/maestro.svg" title="Maestro">
                                                    <img class="payment-icon" src="content/img/shared/credit-cards/amex.svg" title="American Express">
                                                </div>
                                                
                                            </div>
                                            <p>Sin compromiso, garantiza tu reserva y congela tus lugares con una seña del 10% reembolsable.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            
                            {% block paymentform %}
                                {% include "partials/payment/_payment-form.njk" %}
                            {% endblock %} 
                        </div>
                       
                        <!--TYC check-->
                        {% block tyc %}
                            {% include "shared/_tyc-checkbox.njk" %}
                        {% endblock %} 
                        <!--TYC check-->

                        <div class="mt-auto button-container d-flex flex-column align-items-center">
                            <input type="submit" value= "Confirmar" id="confirm" class="btn md_btn fill radius-5 brand-primary">
                            {# <p class="form-help">Sin compromiso garantiza tu reserva. <br> Congelamos tu lugar hasta que decidas efectuar el pago.  </p> #}
                        </div>   
                    
                    </section>
                </form>
                <!--Form-->

            </div>

        </div>
        <!--Left side-->

        <!--Right side-->
        <div class="col-lg-4 col-md-12 right-col">
            <!--Resumen-->
            {% block resumeTrip %}
                {% include "shared/_resume-trip.njk" %}
            {% endblock %} 
            <!--Resumen-->

            <!--Detalle-->
            {% block resumeDetails %}
                {% include "shared/_resume-details.njk" %}
            {% endblock %}
            <!--Detalle-->

        </div>
        <!--Right side-->
    </section>

     <hr class="spacer w-100 mx-auto">
    <!--Hero section-->
    <div class="mt-5 mb-5">
        {% block contactSupport %}
        {% include "shared/_contact-support.njk" %}
        {% endblock %} 
    </div>
   

</div>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript" src="content/js/payment.js"></script>
{% endblock %}



