{# import macros #}
{# {% import "macros/macro-formField.njk" as campos %} #}

{# extending #}
{% extends "layout/_default.njk" %}
{% set pgTyC = true %}
{% block bodyClass %} pgtyc {% endblock %}

{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="content/css/terms-and-conditions.css">
{% endblock %} 

{% block content %}
 <div class="content" 
    <div class="container-lg">
    

        <div class="row">

            <div class="col-12">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}


  