 <div class="section-title simple">
    <h2>El primer buscador especializado de tours en español</h2>
    {# <h3>Desde 1984 al servicio de nuestros clientes</h3> #}
</div>
<div id="home-cards-items" class="row pt-2 pb-2 m-auto">
    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="item d-flex align-items-center justify-content-lg-between">
            <span><img src="content/img/icons/ico-point.svg" alt=""></span>
            <span >Más de 5000 tours y opciones para tu próximo viaje</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="item d-flex align-items-center justify-content-lg-between">
            <span><img src="content/img/icons/ico-connect.svg" alt=""></span>
            <span >Atención personalizada por expertos 24/7</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="item d-flex align-items-center justify-content-lg-between">
            <span><img src="content/img/icons/ico-security.svg" alt=""></span>
            <span >Flexibilidad y Seguridad </span>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="item d-flex align-items-center justify-content-lg-between">
            <span><img src="content/img/icons/ico-card.svg" alt=""></span>
            <span >Los mejores precios garantizados</span>

        </div>
    </div>
</div>