  <div class="section-title" style="background-image: url(content/img/home-destinos.jpg);">
               
              
    <div href="#" title=" Los Destinos más buscados" class="d-flex flex-column flex-xl-row flex-lg-row align-items-lg-end align-items-center title-container">
        <img src="content/img/iso-md.png" title=" Los Destinos más buscados" >
        <h2> Los Destinos más buscados</h2>
    </div>
    <a href="#" title="" class="btn md_btn linear radius-50 white">Ver todos</a>
</div>
 <div id="destination-list" class="w-75 mx-auto classics-list">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-1.jpg);">
                    <img src="content/img/iso-sm.png" class="iso-sm" title="Estambul " >
                    <a href="#" title="Estambul" class="d-flex flex-row align-items-center justify-content-center ml-2 title-container h-100">
                        <h3>Estambul </h3>
                    </a>
                    
                </article>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-2.jpg);">
                     <img src="content/img/iso-sm.png" class="iso-sm" title="Jerusalem" >
                 
                    <a href="#" title="Jerusalem" class="d-flex flex-row align-items-center justify-content-center ml-2 title-container h-100">
                       
                        <h3>Jerusalem</h3>
                    </a>
                </article>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-3.jpg);">
                     <img src="content/img/iso-sm.png" class="iso-sm" title="París" >
                   
                    <a href="#" title="París" class="d-flex flex-row align-items-center justify-content-center ml-2 title-container h-100">
                       
                        <h3>París</h3>
                    </a>
                </article>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-4.jpg);">
                    <img src="content/img/iso-sm.png" class="iso-sm" title="Londres" >
                    <a href="#" title="Londres" class="d-flex flex-row align-items-center justify-content-center ml-2 title-container h-100">
                        
                        <h3>Londres</h3>
                    </a>
                
                </article>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-5.jpg);">
                     <img src="content/img/iso-sm.png" class="iso-sm" title="Nueva York" >
                  
                     <a href="#" title="Nueva York" class="d-flex flex-row align-items-center justify-content-center ml-2 title-container h-100">
                       
                        <h3>Nueva York</h3>
                    </a>
                </article>
            </div>
        </div>
       
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-6.jpg);">
                    <img src="content/img/iso-sm.png" class="iso-sm" title="Dubai" >
              
                     <a href="#" title="Dubai" class="d-flex flex-row align-items-center justify-content-center ml-2 title-container h-100">
                        
                        <h3>Dubai</h3>
                    </a>
                </article>
            </div>
        </div>    

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-7.jpg);">
                   <img src="content/img/iso-sm.png" class="iso-sm" title="Madrid" >
                  
                    <a href="#" title="Madrid" class="d-flex flex-row align-items-center justify-content-center ml-2 title-container h-100">
                        
                        <h3>Madrid</h3>
                    </a>
                </article>
            </div>
        </div>
            
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-8.jpg);">
                      <img src="content/img/iso-sm.png" class="iso-sm" title="Berlín" >
                   
                     <a href="#" title="Berlín" class="d-flex flex-row align-items-center justify-content-center ml-2 title-container h-100">
                      
                        <h3>Berlín</h3>
                    </a>
                </article>
            </div>
        </div>    

    </div>
</div>