 <div class="hero" id="hero-items">
    <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-1.png);">
        <h1>Detrás de cada viaje <br> hay mucho mas que un destino.</h1>
    </div>
      <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-5.jpg);">
        <h1>Seguridad, conveniencia <br> y asesoramiento personalizado.</h1>
    </div>
 
    <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-3.jpg);">
        <h1>Descubrí destinos diferentes <br> y vivencias únicas.</h1>
    </div>

    <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-6.jpg);">
        <h1>Tour Experto.<br> Tu forma de ver el mundo.</h1>
    </div>
   
</div>