 <div class="section-title simple">
    <h2>Sugerencias para viajar con tranquilidad</h2>
</div>
<div id="info-items" class="home-info-container">
    <article>
        <div class="image-container" >
            <img src="content/img/home-info-slider/rastreador.jpg" alt="Rastreador de Destinos OMT/IATA">
        </div>
        <a href="#" title="Rastreador de Destinos OMT/IATA" >
            <span>Rastreador de Destinos OMT/IATA</span>
        </a>
    </article>
    <article>
            <div class="image-container" >
            <img src="content/img/home-info-slider/politicas-cancelacion.jpg" alt="Tour Experto Travel Sale">
        </div>
        <a href="#" title="Tour Experto Travel Sale" >
            <span>Tour Experto Travel Safe</span>
        </a>
    </article>
    <article>
            <div class="image-container" >
            <img src="content/img/home-info-slider/cambios-reprogramaciones.jpg" alt="Cambios y Reprogramaciones">
        </div>
        <a href="#" title="Cambios y Reprogramaciones" >
            <span>Cambios y Reprogramaciones</span>
        </a>
    </article>
    <article>
        <div class="image-container" >
            <img src="content/img/home-info-slider/sugerencias-recomendaciones.jpg" alt="Sugerencias y Recomendaciones">
        </div>
        <a href="#" title="Sugerencias y Recomendaciones" >
            <span>Sugerencias y Recomendaciones</span>
        </a>
    </article>
    
</div>