<div class="container-lg">
    <div class="section-title" style="background-image: url(content/img/home-ofertas.jpg);">

        <div href="#" title="Ofertas" class="d-flex flex-column flex-xl-row flex-lg-row align-items-lg-end align-items-center title-container">
            <img src="content/img/iso-md.png" title="Ofertas" >
            <h2>Ofertas Especiales para ti</h2>
        </div>
        
        <a href="#" title="" class="btn md_btn linear radius-50 white">Ver todos</a>
    </div>
</div>
        
<div id="offer-items" class="card-list" >
    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1 card-wrapper image-container">
        <div class="image-container hover-scale" style="background-image: url(content/img/home-offers-slider/slide-1.jpg);" >
            <div class="card-overlay">&nbsp</div>
            <img src="content/img/iso-sm.png" title="Cóndores y Quebradas"  class="iso-sm">
            <article>
                <div class="d-flex flex-column justify-content-between text">
                    {# <span class="featured-category"><i class="fas fa-star"></i> Producto</span> #}
                    <a href="#" title="Cóndores y Quebradas " class="d-flex flex-row align-items-center ml-2 title-container">
                        <h3>Cóndores y Quebradas </h3>
                    </a>
            
                    <div class="meta d-flex justify-content-between">
                        <span class="meta-price">
                            <strong> $ 1.359</strong> + 559 imp
                        </span>
                        <div class=" d-flex flex-row align-items-center">
                            <span class="meta-age"><i class="far fa-user"></i> 12+</span>
                            <span class="meta-location"><i class="far fa-map"></i> Los Angeles</span>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    



    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1 card-wrapper image-container">
        <div class="image-container hover-scale" style="background-image: url(content/img/home-offers-slider/slide-2.jpg);" >
            <div class="card-overlay">&nbsp</div>
            <img src="content/img/iso-sm.png" title="Cóndores y Quebradas"  class="iso-sm">

            <article>
                 <div class="d-flex flex-column justify-content-between text">
                {# <span class="featured-category"><i class="fas fa-star"></i> Producto</span> #}
                    
                 <a href="#" title="Cóndores y Quebradas " class="d-flex flex-row align-items-center ml-2 title-container">
                 
                    <h3>Cóndores y Quebradas </h3>
                </a>
                <div class="meta d-flex justify-content-between">
                    <span class="meta-price">
                        <strong> $ 1.359</strong> + 559 imp
                    </span>
                    <div class=" d-flex flex-row align-items-center">
                        <span class="meta-age"><i class="far fa-user"></i> 12+</span>
                        <span class="meta-location"><i class="far fa-map"></i> Los Angeles</span>
                    </div>
                </div>
            </div>
            </article>
        </div>
    </div>

     <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1 card-wrapper image-container">
        <div class="image-container hover-scale" style="background-image: url(content/img/home-offers-slider/slide-3.jpg);" >
            <div class="card-overlay">&nbsp</div>
            <img src="content/img/iso-sm.png" title="Cóndores y Quebradas"  class="iso-sm">
            <article>
                 <div class="d-flex flex-column justify-content-between text">
                {# <span class="featured-category"><i class="fas fa-star"></i> Producto</span> #}
                    
                 <a href="#" title="Cóndores y Quebradas " class="d-flex flex-row align-items-center ml-2 title-container">
               
                    <h3>Cóndores y Quebradas </h3>
                </a>
                <div class="meta d-flex justify-content-between">
                    <span class="meta-price">
                        <strong> $ 1.359</strong> + 559 imp
                    </span>
                    <div class=" d-flex flex-row align-items-center">
                        <span class="meta-age"><i class="far fa-user"></i> 12+</span>
                        <span class="meta-location"><i class="far fa-map"></i> Los Angeles</span>
                    </div>
                </div>
            </div>
            </article>
        </div>
    </div>
    
</div>