 <div class="mx-auto w-75 d-flex  flex-column flex-lg-row justify-content-center align-items-lg-top">
    <span><img src="content/img/icono-correo.jpg" alt=""></span>
    <div class="w-100 mx-auto">
        <h4>  ¡Ahorre hasta un 50% en nuestros tours! Obtenga acceso a ofertas exclusivas para miembros por correo electrónico.</h4>
        <h3>Nuestras ofertas de último momento en tu email.</h3>
        <form action="">
            <input type="email" placeholder="Ingresá aquí tu e-mail">
            <input type="submit" value="Suscribirme">
            <div class="d-flex flex-lg-column align-items-start">                                    
                <small>Al subscribirme acepto las <a href="#">políticas de privacidad de TourExperto.</a> </small>
            </div>
        </form>
    </div>
</div>