 <div id="home-list-cards-content" class="w-75 mx-auto classics-list ">
    <div class="row">

        <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-0.png);">
                    <img src="content/img/iso-sm.png" title="Mendoza estilo cuvee" class="iso-sm" >
                    <a href="#" title="Mendoza estilo cuvee" class=" d-flex flex-column align-items-center justify-content-between w-100 h-100">
                        
                        <div class="d-flex flex-row align-items-center ml-2 title-container">
                           
                            <h3 class="mb-auto">Mendoza estilo cuvee</h3>
                        </div>
                        <div class="meta d-flex align-items-center justify-content-between">
                            <span class="meta-date">Salida 5/3 </span>
                                <span class="meta-price">
                                <strong> $ 1.359</strong> + 559 imp.
                            </span>
                            <span class="meta-due"><i class="far fa-clock"></i> 13 días</span>
                        </div>
                    </a>
                </article>
            </div>
        </div>

         <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-0.png);">
                   <img src="content/img/iso-sm.png" title="Mendoza estilo cuvee" class="iso-sm" >
                    <a href="#" title="Mendoza estilo cuvee" class=" d-flex flex-column align-items-center justify-content-between w-100 h-100">
                        <div class="d-flex flex-row align-items-center ml-2 title-container">
                            
                            <h3 class="mb-auto">Mendoza estilo cuvee</h3>
                        </div>
                        <div class="meta d-flex align-items-center justify-content-between">
                            <span class="meta-date">Salida 5/3 </span>
                                <span class="meta-price">
                                <strong> $ 1.359</strong> + 559 imp.
                            </span>
                            <span class="meta-due"><i class="far fa-clock"></i> 13 días</span>
                        </div>
                    </a>
                </article>
            </div>
        </div>

         <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-0.png);">
                    <img src="content/img/iso-sm.png" title="Mendoza estilo cuvee" class="iso-sm" >
                    <a href="#" title="Mendoza estilo cuvee" class=" d-flex flex-column align-items-center justify-content-between w-100 h-100">
                        <div class="d-flex flex-row align-items-center ml-2 title-container">
                           
                            <h3 class="mb-auto">Mendoza estilo cuvee</h3>
                        </div>
                        <div class="meta d-flex align-items-center justify-content-between">
                            <span class="meta-date">Salida 5/3 </span>
                                <span class="meta-price">
                                <strong> $ 1.359</strong> + 559 imp.
                            </span>
                            <span class="meta-due"><i class="far fa-clock"></i> 13 días</span>
                        </div>
                    </a>
                </article>
            </div>
        </div>

         <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-0.png);">
                   <img src="content/img/iso-sm.png" title="Mendoza estilo cuvee" class="iso-sm" >
                    <a href="#" title="Mendoza estilo cuvee" class=" d-flex flex-column align-items-center justify-content-between w-100 h-100">
                        <div class="d-flex flex-row align-items-center ml-2 title-container">
                            
                            <h3 class="mb-auto">Mendoza estilo cuvee</h3>
                        </div>
                        <div class="meta d-flex align-items-center justify-content-between">
                            <span class="meta-date">Salida 5/3 </span>
                                <span class="meta-price">
                                <strong> $ 1.359</strong> + 559 imp.
                            </span>
                            <span class="meta-due"><i class="far fa-clock"></i> 13 días</span>
                        </div>
                    </a>
                </article>
            </div>
        </div>

         <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-0.png);">
                   <img src="content/img/iso-sm.png" title="Mendoza estilo cuvee" class="iso-sm" >
                    <a href="#" title="Mendoza estilo cuvee" class=" d-flex flex-column align-items-center justify-content-between w-100 h-100">
                        <div class="d-flex flex-row align-items-center ml-2 title-container">
                            
                            <h3 class="mb-auto">Mendoza estilo cuvee</h3>
                        </div>
                        <div class="meta d-flex align-items-center justify-content-between">
                            <span class="meta-date">Salida 5/3 </span>
                                <span class="meta-price">
                                <strong> $ 1.359</strong> + 559 imp.
                            </span>
                            <span class="meta-due"><i class="far fa-clock"></i> 13 días</span>
                        </div>
                    </a>
                </article>
            </div>
        </div>

         <div class="col-lg-6 col-md-12 col-sm-12 col-12 list-item">
            <div class="image-container" >
                <!--Eliminar clase hover-scale para quitar efecto zoom-->
                <article class="hover-scale" style="background-image: url(content/img/home-list-cards/card-0.png);">
                   <img src="content/img/iso-sm.png" title="Mendoza estilo cuvee" class="iso-sm" >
                    <a href="#" title="Mendoza estilo cuvee" class=" d-flex flex-column align-items-center justify-content-between w-100 h-100">
                        <div class="d-flex flex-row align-items-center ml-2 title-container">
                            
                            <h3 class="mb-auto">Mendoza estilo cuvee</h3>
                        </div>
                        <div class="meta d-flex align-items-center justify-content-between">
                            <span class="meta-date">Salida 5/3 </span>
                                <span class="meta-price">
                                <strong> $ 1.359</strong> + 559 imp.
                            </span>
                            <span class="meta-due"><i class="far fa-clock"></i> 13 días</span>
                        </div>
                    </a>
                </article>
            </div>
        </div>

    </div>
</div>