<div id="review-items">

    <div class="slide d-flex flex-xl-column align-items-center" >
        <div class="caption-wrapper"  >
            <span class="mask"></span>
            <div class="caption-container" style="background-image: url(content/img/home-reviews-slider/user-bg.png);" >
                
                {# <img src="content/img/home-reviews-slider/user.jpg" title="" />#}
            </div> 
            <div class="slide-text">
                <p>Hacer la reserva fue muy <strong>fácil y rápido</strong>, despejaron todas mis dudas de forma inmediata. </p>
            </div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>

        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center" >
        <div class="caption-wrapper"  >
            <span class="mask"></span>
            <div class="caption-container" style="background-image: url(content/img/home-reviews-slider/user-bg.png);" >
                
                <img src="content/img/home-reviews-slider/user-1.jpg" title="" />
            </div>
                <div class="slide-text">
                <p>Tuvimos que reprogramar nuestro viaje y no tuvimos inconvenientes, al contrario. Muy <strong>predispuestos para encontrar la mejor solución.</strong> ¡Todo bárbaro!</p>
            </div>
                <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center" >
        <div class="caption-wrapper"  >
            <span class="mask"></span>
            <div class="caption-container" style="background-image: url(content/img/home-reviews-slider/user-bg.png);" >
                 
                <img src="content/img/home-reviews-slider/user-2.jpg" title="" />
            </div>
            <div class="slide-text">
                <p>Pedimos una cotización a medida y me la enviaron  en el acto, ofreciéndome una opción aun mejor de la que estaba buscando! <strong>Verdaderos expertos en viajes!</strong></p>
            </div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>

        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center" >
        <div class="caption-wrapper"  >
            <span class="mask"></span>
            <div class="caption-container" style="background-image: url(content/img/home-reviews-slider/user-bg.png);" >
                
                <img src="content/img/home-reviews-slider/user-3.jpg" title="" />
            </div>
                <div class="slide-text ">
                <p> Todo el proceso de reserva y pago fue muy <strong>sencillo y seguro</strong>. Respondieron todas mis preguntas en el acto</p>
            </div>
                <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center" >
        <div class="caption-wrapper"  >
            <span class="mask"></span>
            <div class="caption-container" style="background-image: url(content/img/home-reviews-slider/user-bg.png);" >
                
                <img src="content/img/home-reviews-slider/user-4.jpg" title="" />
            </div>
            <div class="slide-text">
                <p>El equipo ha sido muy <strong>amable y servicial</strong> durante todo el proceso de reserva. ¡Apreciamos la ayuda brindada! Muchas gracias! </p>
            </div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>

        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center" >
        <div class="caption-wrapper"  >
            <span class="mask"></span>
            <div class="caption-container" style="background-image: url(content/img/home-reviews-slider/user-bg.png);" >
                
                <img src="content/img/home-reviews-slider/user-5.jpg" title="" />
            </div>
                <div class="slide-text">
                <p>Quisimos agregar noches adicionales después de realizar la reserva y no tuvimos problemas. <strong> Muy buen servicio!</strong></p>
            </div>
                <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center" >
        <div class="caption-wrapper"  >
            <span class="mask"></span>
            <div class="caption-container" style="background-image: url(content/img/home-reviews-slider/user-bg.png);" >
                
                <img src="content/img/home-reviews-slider/user-6.jpg" title="" />
            </div>
            <div class="slide-text">
                <p>Muy fácil ver todas las características del tour y encontrar una fecha y categoría adecuada para lo que estábamos buscando. </p>
            </div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>

        </div>
    </div>

     <div class="slide d-flex flex-xl-column align-items-center" >
        <div class="caption-wrapper"  >
            <span class="mask"></span>
            <div class="caption-container" style="background-image: url(content/img/home-reviews-slider/user-bg.png);" >
                
                <img src="content/img/home-reviews-slider/user-7.jpg" title="" />
            </div>
            <div class="slide-text">
                <p><strong>Súper simple de reservar!</strong> Recibimos toda la información que necesitábamos a la hora planificar y  realizar el viaje. </p>
            </div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>

        </div>
    </div>

     <div class="slide d-flex flex-xl-column align-items-center" >
        <div class="caption-wrapper"  >
            <span class="mask"></span>
            <div class="caption-container" style="background-image: url(content/img/home-reviews-slider/user-bg.png);" >
                
                <img src="content/img/home-reviews-slider/user-8.jpg" title="" />
            </div>
            <div class="slide-text">
                <p>Me facilio mucho reservar por TourExperto. <strong>Brindan muchas opciones y responden rápidamente.</strong> Estupendas sugerencias y lo mas importante, super seguro </p>
            </div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

        </div>
    </div>

     <div class="slide d-flex flex-xl-column align-items-center" >
        <div class="caption-wrapper"  >
            <span class="mask"></span>
            <div class="caption-container" style="background-image: url(content/img/home-reviews-slider/user-bg.png);" >
                
                <img src="content/img/home-reviews-slider/user-9.jpg" title="" />
            </div>
            <div class="slide-text">
                <p>Excelente sitio, simple, facil y seguro </p>
            </div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

        </div>
    </div>

    
</div>