 <div id="home-search" class="home-search">
              
    <form action="#" autocomplete="off" id="searchForm" class="d-flex align-items-lg-center justify-content-lg-between  flex-wrap" >
        <label for="search" class="search-label">¿A dónde queres Viajar?</label>
        <input id ="search" class="form-control search-input" type="text" placeholder="Paises o Ciudades">
        <div class="calendar-icon"><i class="far fa-calendar-alt"></i></div>
        <input name="datepicker" id="datepicker" class="form-control datepicker" type="text" readonly required  value="cuando">
        <input type="hidden" name="DateFrom" id="DateFrom" value="">
		<input type="hidden" name="DateTo" id="DateTo" value="">
        <a class="d-flex align-items-center" href="search.html"><span><i class="fas fa-search"></i></span> Buscar</a>

        
    </form>
</div>