<div id="tag-items">
    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1">
        <div class="image-container hover-scale" style="background-image: url(content/img/home-tags-slider/familia.jpg);" >
            <div class="card-overlay">&nbsp</div>
            <img src="content/img/iso-sm.png" class="iso-sm" title="En Familia">
            <article>
                <a href="search.html" title="En Familia" class="d-flex flex-row align-items-center ml-2 title-container">
                    <span class="caption-container">En Familia</span>
                </a>
            </article>
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1" >
        <div class="image-container hover-scale" style="background-image: url(content/img/home-tags-slider/romanticos.jpg);" >
            <div class="card-overlay">&nbsp</div>
             <img src="content/img/iso-sm.png" class="iso-sm" title="">
            <article>
             
                 <a href="search.html" title="Románticos" class="d-flex flex-row align-items-center ml-2 title-container">
                    <span class="caption-container">Románticos</span>
                </a>
            </article>
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1" >
        <div class="image-container hover-scale" style="background-image: url(content/img/home-tags-slider/grupales.jpg);">
            <div class="card-overlay">&nbsp</div>
             <img src="content/img/iso-sm.png" class="iso-sm" title="Con aereos incluidos">
            <article>
             
                 <a href="search.html" title="Con aereos incluidos" class="d-flex flex-row align-items-center ml-2 title-container">
                    <span class="caption-container">Con aereos incluidos</span>
                </a>
            </article>
           
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1" >
        <div class="image-container hover-scale" style="background-image: url(content/img/home-tags-slider/mujeres.jpg);">
            <div class="card-overlay">&nbsp</div>
             <img src="content/img/iso-sm.png" class="iso-sm" title="Viajes de Mujeres">
             <article>
                 <a href="search.html" title="Viajes de Mujeres" class="d-flex flex-row align-items-center ml-2 title-container">
                    <span class="caption-container">Viajes de Mujeres</span>
                </a>
            </article>
            
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1" >
        <div class="image-container hover-scale" style="background-image: url(content/img/home-tags-slider/religiosos.jpg);">
            <div class="card-overlay">&nbsp</div>
               <img src="content/img/iso-sm.png" class="iso-sm" title="Religiosos">
              <article>
                 <a href="search.html" title="Religiosos" class="d-flex flex-row align-items-center ml-2 title-container">
                    <span class="caption-container">Religiosos</span>
                </a>
            </article>
           
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1" >
        <div class="image-container hover-scale" style="background-image: url(content/img/home-tags-slider/exoticos.jpg);">
            <div class="card-overlay">&nbsp</div>
             <img src="content/img/iso-sm.png" class="iso-sm" title="Exóticos">
             <article>
                 <a href="search.html" title="Exóticos" class="d-flex flex-row align-items-center ml-2 title-container">
                    <span class="caption-container">Exóticos</span>
                </a>
            </article>
           
           
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1" >
        <div class="image-container hover-scale" style="background-image: url(content/img/home-tags-slider/exclusivos.jpg);">
            <div class="card-overlay">&nbsp</div>
             <img src="content/img/iso-sm.png" class="iso-sm" title="Exclusivos">
              <article>
                 <a href="search.html" title="Exclusivos" class="d-flex flex-row align-items-center ml-2 title-container">
                    <span class="caption-container">Exclusivos</span>
                </a>
            </article>
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1" >
        <div class="image-container hover-scale" style="background-image: url(content/img/home-tags-slider/solosysolas.jpg);">
            <div class="card-overlay">&nbsp</div>
              <img src="content/img/iso-sm.png" class="iso-sm" title="Exclusivos">
              <article>
                 <a href="search.html" title="Exclusivos" class="d-flex flex-row align-items-center ml-2 title-container">
                    <span class="caption-container">Solos y Solas</span>
                </a>
            </article>
          
        </div>
    </div>
    <div class="slide d-flex flex-xl-column align-items-center bg-image-gradient-1" >
        <div class="image-container hover-scale" style="background-image: url(content/img/home-tags-slider/lgtb.jpg);">
            <div class="card-overlay">&nbsp</div>
            <img src="content/img/iso-sm.png" class="iso-sm" title="LGBTQ+">
              <article>
                 <a href="search.html" title="LGBTQ+" class="d-flex flex-row align-items-center ml-2 title-container">
                    <span class="caption-container">LGBTQ+</span>
                </a>
            </article>
           
        </div>
    </div>
</div>