<div id="travel-items" class="card-list">
    <div class="slide bg-image-gradient-1 card-wrapper image-container">
        <div class="image-container">
            <div class="card-overlay">&nbsp</div>
            <article class="d-flex flex-column justify-content-end">
                <h3>LOS MEJORES BARES EN PARIS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id. <a href="search.html" title="Ver más..."> Ver más...</a></p>
            </article>
        </div>
    </div>
        <div class="slide bg-image-gradient-1 card-wrapper image-container">
        <div class="image-container" >
            <div class="card-overlay">&nbsp</div>
            <article class="d-flex flex-column justify-content-end">
                <h3>LOS MEJORES BARES EN PARIS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id. <a href="search.html" title="Ver más..."> Ver más...</a></p>
            </article>
        </div>
    </div>
        <div class="slide bg-image-gradient-1 card-wrapper image-container">
            <!--Agregar bg image a image-container:  style="background-image: url(content/img/home-travel-slider/slide-1.jpg);"-->
        <div class="image-container " >
            <div class="card-overlay">&nbsp</div>
            <article class="d-flex flex-column justify-content-end">
                <h3>LOS MEJORES BARES EN PARIS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id. <a href="search.html" title="Ver más..."> Ver más...</a></p>
            </article>
        </div>
    </div>
</div>