<div class="col-lg-4 col-md-12 d-flex flex-column alpha-tags">
    
    <p class="btn sm_btn btn-alpha fill blueish radius-5" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="left" 
    title="<b>Garantizada</b><br>Todas las fechas se encuentran garantizadas con un minimo 2 pasajeros.">Salida garantizada</p>

    <p class="btn sm_btn btn-alpha fill blueish radius-5" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="left" 
    title="<b>Cupos confirmados</b><br>Tu lugar seguro y garantizado al momento de comprar.">Cupos Confirmados</p>
    <a class="btn sm_btn btn-alpha fill brand-primary radius-5" href="#" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="left" 
    title="<b>Sectorizable</b><br>Selecciona solo la parte del viaje que mas te interese.">Sectorizable</a>
    <a class="btn sm_btn btn-alpha fill brand-primary radius-5" href="#"data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="left" 
    title="<b>Privatizable</b><br>Conviertelo en un tour exclusivo para tus amigos y familia. ">Privatizable</a>
    <a class="btn sm_btn btn-alpha fill brand-primary radius-5" href="#"data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="left" 
    title="<b>Rotitativo</b><br>Inicia tu viaje por la ciudad que prefieras o donde obtengas las mejores
condiciones aéreas.">Rotativo</a>
    <a class="btn sm_btn btn-alpha fill brand-primary radius-5" href="#"data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="left" 
    title="<b>Con parada</b><br>Programa una o más paradas durante el recorrido en la ciudad que deseés.  ">Con parada</a>
</div>