<section class="email-preferences">
                
    <div class="d-flex flex-column">
        <!--Form-->
        <form action="#" class="form_content parsley js_form_validation">
            <div class="card card-radius-40 card-borderless">            
                <div class="card-body d-flex flex-column step">
                    <div class="row ">
                        <div class="col-lg-12 col-md-12 left-col order-lg-0 order-md-1 order-sm-1 order-xs-1">
                            <h3 class="subtitle">Preferencia de correos electrónicos</h3>
                            <section class="myaccount-form">
                                <div class="d-flex flex-column ">

                                    <!--Tours Recomendados-->
                                    <div class="d-flex flex-column">
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <label for="treco">Tours Recomendados</label>
                                                <span class="label-help">Descubra los recorridos recomendados para usted en función de sus preferencias únicas. <br>
                                                No se pierda nunca nuevas fechas de salida y nuevos itinerarios.</span>
                                            </div>
                                            <select  class="form-control select2 nosearch" id="treco" name="treco" >
                                                <option></option>
                                                <option value="0" selected>Si</option>
                                                <option value="1">Pausar por 1 mes</option>
                                                <option value="2">Pausar por 3 meses</option>
                                                <option value="3">No</option>
                                            
                                            </select>
                                        </div>
                                    </div>

                                

                                    <div class="d-flex flex-column">
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <label for="offers">Ofertas y promociones</label>
                                                <span class="label-help">Reciba las ofertas y promociones exclusivas</span>

                                            </div>
                                            <select  class="form-control select2 nosearch" id="offers" name="offers"
                                            tabindex="-1" aria-hidden="true"  style="width:100%" data-placeholder="" >
                                                <option></option>
                                                <option value="0" selected>Si</option>
                                                <option value="1">Pausar por 1 mes</option>
                                                <option value="2">Pausar por 3 meses</option>
                                                <option value="3">No</option>
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <div class=" button-container d-flex flex-column  mt-5 order-lg-2 order-md-2 order-sm-2 order-xs-2">
                                        <input type="submit" class="btn md_btn fill radius-5 brand-primary" value="Guardar cambios" id="save">
                                    </div>  
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </form> 
        <!--Form-->

    </div>
</section>