  //Reviews

  .pgProduct .table th,.pgProduct .table td{
    width:50%;
    vertical-align: middle;
}
.pgProduct .table th:first-child{
    border-top-left-radius: 15px;
    overflow: hidden;
}
.pgProduct .table th:last-child{
    border-top-right-radius: 15px;
    overflow: hidden;
}
.table-bordered>:not(caption)>*>* {
border-width: 0px;
}

