<h2 class="title2 text-center mb-5 ">INFORMACIÓN IMPORTANTE PARA QUIENES SOLICITAN CAMBIAR FECHA DE REGRESO</h2>

<p class="text-center mt-3 title3">CUENTAS EN DOLARES</p>
<p class="text-center"><span class="fw-bold">VIE SA - CUIT:</span> 33-58071236-9 </p>
<p class="text-center"><span class="fw-bold">Deposito o Transferencia:</span> USD 318</p>

<p class="text-center mt-3 title3">SANTANDER RIO - (Suc. 767 Macrocentro)</p>
<p class="text-center"><span class="fw-bold">Cuenta: </span> 767-000589/0</p>
<p class="text-center"><span class="fw-bold">CBU: </span>  0720767121000000058905</p>

<p class="text-center mt-3 title3">BANCO GALICIA - (Suc. 381)</p>
<p class="text-center"><span class="fw-bold">Cuenta: </span> 9750064-5 381-8</p>
<p class="text-center"><span class="fw-bold">CBU: </span> 00703817-31009750064586</p>

