<h1 class="title2 text-center mb-5 ">CAMBIO FECHA DE REGRESO</h1>

<p class="mb-5">Te recordamos que, cualquier modificación que solicites para regresar después de la fecha de finalización del plan es una concesión que queda sujeta a restricciones de la contratación efectuada con TAGLIT y la linea aérea conforme a la normativa dispuesta por el programa.</p>

<p class="mb-2">Por lo tanto:</p>

<ul class="list brand-secondary bullet">

    <li class="list-item">No son válidas las disponibilidades de espacios que muestran los sistemas que pueda consultar por internet, ni las consultas que se puedan realizar en agencias de viajes o en la misma línea aérea en los sectores a los cuales pueden acceder los pasajeros ya que esas reservas están sujetas a condiciones específicas del grupo.</li>
    <li class="list-item">Tu  pasaje no admite paradas en el punto de conexión de Europa en consecuencia solo podras abordar el vuelo de regreso en Tel Aviv.</li>
    <li class="list-item">Tene presente que si por cualquier causa , no abordas el vuelo, el pasaje perderá validez y deberas regresar por sus medios y a su exclusivo cargo.</li>
    <li class="list-item">El personal asignado para la atención de tu grupo atenderá cualquier consulta de tu parte a través del mail <a href="mailto:taglit@vietur.com.ar" title="mail" >taglit@vietur.com.ar </a>   ó a través del Whatsapp <a href="https://wa.me/1XXXXXXXXXX" title="whatsapp" target="_blank">+54911xxxxxxx </a> en el horario de 10 a 18 hs . Estos son los medios exclusivos para comunicarse. Todos los mails  serán respondidos apenas esté disponible la información. Por razones de mejor servicio y seguridad en las consultas y respuestas estas serán atendidas solo a través de las formas indicadas.</li>
    <li class="list-item">Siempre que te comuniques no olvides consignar tu Apellido, nombre y numero de grupo.</li>
    <li class="list-item">Al finalizar el plan, podrás salir de Israel siempre que tengas cumplidas las condiciones sanitarias exigidas por las autoridades de Israel y del o de los países que visites.</li>
    <li class="list-item">Te sugerimos estés atento ya que se producen cambios inesperados como consecuencia de la situación sanitaria imposibles de prever.</li>
    <li class="list-item">Antes de regresar a Israel, para tomar tu vuelo de regreso, debes cumplir con los requisitos migratorios y de sanidad que en ese momento este vigentes en Israel. Todo esto es bajo tu exclusiva responsabilidad. </li>
    <li class="list-item">En caso de no poder regresar a tomar tu vuelo a TLV, cualquiera fuese el motivo, perderás tu pasaje de regreso y deberás resolver por tus medios la nueva forma de regresar, con un nuevo ticket aéreo. </li>
    <li class="list-item">Tene en cuenta que la fecha de regreso solicitada, para el caso de que hayas decidido no regresar a la finalización del plan, será cuidadosamente procesada para tratar de complacerte. Contas con todo nuestro apoyo profesional para satisfacerte.</li>

</ul>

<p class="mt-5 mb-3"> Aun así, existen circunstancias ajenas a nuestra voluntad y a la de la línea aérea interviniente que pueden no permitir lograrlo. Por tal motivo te hacemos saber las condiciones bajo las cuales procesaremos su solicitud: </p>

<ol class="list brand-secondary counter">

    <li class="list-item">Debes consignar en el espacio del formulario destinado al efecto la fecha de su regreso desde Israel. Nunca puede exceder los 80 días corridos posteriores a la finalización del plan.</li>
    <li class="list-item">Se considera que la fecha es satisfactoria y queda aceptada por Ud. cuando la confirmación se produzca en el día solicitado o hasta 96 hs. antes o después del día requerido.</li>
    <li class="list-item">Si la línea aérea informa que  no existen posibilidades de confirmación en los términos establecidos en el punto anterior, deberás regresar en la fecha prevista de finalización del plan, en cuyo caso se te devolverá el importe pagado por el cambio de fecha. </li>
    <li class="list-item">Cualquier cambio que solicites posteriormente al momento de completar la presente solicitud tendrá un cargo adicional y quedará sujeto a las condiciones establecidas en los puntos precedentes. </li>
    <li class="list-item">Por razones técnicas no se admitirán cambios,  bajo ningún concepto,  a partir de los 21 días anteriores a la fecha de partida del grupo. </li>
    <li class="list-item">Cualquier cambio que requieras una vez que te encuentres en viaje solo podrás tramitarlo ante la oficina local de la línea aérea en Israel. No existe factibilidad técnica de intervenir por nuestra parte ni de modificar tu reserva una vez emitido el pasaje ni durante su viaje. Te reiteramos solo podrá hacerlo y de forma excepcional en la oficina de la línea aérea en Israel con los cargos, restricciones y disponibilidades de espacio que allí te informen. </li>
    <li class="list-item">Si por cualquier causa sanitaria o de otra naturaleza no pudieras abordar tu vuelo de salida tene en cuenta que la estadía y el vuelo de regreso serán a tu exclusivo cargo. </li>

</ol>

<p class="mt-5 mb-3"> <span class="highlight1">IMPORTANTE:</span> El cambio de la fecha de regreso solicitado por medio de este formulario es procesado exclusivamente por las compañías aéreas en Israel y de acuerdo a condiciones de contratación de los grupos. Por tal motivo carecemos de la información sobre disponibilidad de los vuelos y sus posibilidades de confirmación Apenas recibamos las respuestas desde Israel te  informaremos al mail registrado el resultado de tu solicitud, cuando tengamos la confirmación.</p>
<p class="mb-3"> Por todo lo comentado  te recomendamos no contratar pasajes, hoteles, excursiones, etc. vinculadas con la fecha de regreso solicitada hasta tener la información de la fecha en que quedo finalmente confirmado tu vuelo.</p>
<p class="mb-3"> El tiempo de confirmación del regreso puede ser informado por la compañía aérea hasta 7 días antes de la salida del vuelo. </p>
<p class="mb-5">De nuestra parte haremos todos los esfuerzos necesarios para poder complacerte </p>