 <section class="row faq-section">
    <div class="section-title simple">
        <img class="iso-sm iso-slider" src="content/img/iso-sm.png" title="Tour Experto">
        <h4>Preguntas Frecuentes</h4>
    </div>
    
    <div class="col-12 w-100  mx-auto">
        <form class="d-flex flex-row justify-content-center faq-search">
            <input class="form-control" type="search" placeholder="Selecciona una consulta" aria-label="Search">
            <button class="btn " type="submit">Buscar</button>
        </form>
    </div>
    <div class="accordion accordion-flush mt-5" id="faq">
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCOne" aria-expanded="false" aria-controls="faqCOne">
                Item #1
            </button>
            </h2>
            <div id="faqCOne" class="accordion-collapse collapse" aria-labelledby="faqHOne" data-bs-parent="#faq">
            <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCTwo" aria-expanded="false" aria-controls="faqCTwo">
                Item #2
            </button>
            </h2>
            <div id="faqCTwo" class="accordion-collapse collapse" aria-labelledby="faqHTwo" data-bs-parent="#faq">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCThree" aria-expanded="false" aria-controls="faqCThree">
                Item #3
            </button>
            </h2>
            <div id="faqCThree" class="accordion-collapse collapse" aria-labelledby="faqHThree" data-bs-parent="#faq">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
            </div>
        </div>
    </div>
</section>