<section class="row related-products">
    <h5 class="section-title"><strong>Porque te gusta “EUROPA SOÑADA”</strong></h5>
    <p class="section-subtitle"> Seleccionamos algunas otras opciones para ti.</p>
    <div id="relProds" class="slider">
    
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-1.png);"><a href="#" class="slide-caption">Lorem ipsum dolor</a></div>
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-5.jpg);"><a href="#" class="slide-caption">Lorem ipsum dolr sit</a></div>
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-3.jpg);"><a href="#" class="slide-caption">Lorem ipsum</a></div>
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-6.jpg);"><a href="#" class="slide-caption">Título</a></div>
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-1.png);"><a href="#" class="slide-caption">Lorem ipsum dolor</a></div>
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-5.jpg);"><a href="#" class="slide-caption">Lorem ipsum dolr sit</a></div>
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-3.jpg);"><a href="#" class="slide-caption">Lorem ipsum</a></div>
        <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-slider/slide-6.jpg);"><a href="#" class="slide-caption">Título</a></div>
    
    
    </div>
</section>