 <section class="row similar-hotels mt-5 mb-5">
    <h4>Hoteles Previstos o Similares:</h4>
    <table class="table table-responsive">
        <thead>
            <tr >
                
                <th scope="col" class="col-1">Categoría</th>
                <th scope="col" class="col-2">Ciudad</th>
                <th scope="col" class="col-3">Hoteles previstos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td class="col-1">Única</td>
                <td class="col-2">LISBOA</td>
                <td class="col-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq.</td>
            </tr>
            <tr>
            
                <td class="col-1">Única</td>
                <td class="col-2">ALBUFEIRA</td>
                <td class="col-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. </td>
            </tr>
            <tr>
            
                <td class="col-1">Única</td>
                <td class="col-2">EVORA</td>
                <td class="col-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</td>
            </tr>
        
        </tbody>
    </table>
</section>