 <section class="row suggestions-section align-items-center">
    <h4>Sugerencias para viajar con tranquilidad</h4>
        <div class="col-lg-6 col-md-12">
            <!--CARD-->
            <div class="card-container">
                <div class="card card-shaddow">
                    <div class="card-header">
                        <img class="iso-xs" src="content/img/iso-xs.png" title="Tour Experto">
                        <p class="card-title">Autogestión de reservas</p>
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text">Ingresá a Mis Viajes y gestioná todas tus reservas en un solo lugar, de forma fácil y rápido.</p>
                        <a class="card-link" href="#">Ir a mis viajes</a>
                    </div>
                </div>
            </div>
            <!--END CARD-->
        </div>

        <div class="col-lg-6 col-md-12">
            <!--CARD-->
            <div class="card-container">
                <div class="card card-shaddow">
                    <div class="card-header">
                        <img class="iso-xs" src="content/img/iso-xs.png" title="Tour Experto">
                        <p class="card-title">Reserva flexible</p>
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text">Filtrá por reserva flexible y garantizá la cancelación o cambio de fechas, si tus planes cambian.</p>
                        <a class="card-link" href="#">Buscar</a>
                    </div>
                </div>
            </div>
            <!--END CARD-->
        </div>

</section>