<div  class="dropdown-filters">
    <div id="dropdownCurrecy" class="dropdown-filter">
        <div class="dropdown show">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownCurrecyLink" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>USD</strong> Dolares estadounidenses</a>

            <div class="dropdown-menu" aria-labelledby="dropdownCurrecyLink">
                <a class="dropdown-item" href="#"><strong>USD</strong> Dolares estadounidenses</a>
                <a class="dropdown-item" href="#">Otra opción</a>
                <a class="dropdown-item" href="#">Una opción más</a>
            </div>
        </div>
    </div>
    <div id="dropdownOrder" class="dropdown-filter">
        <div class="dropdown show">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownOrderLink" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ordenar por</a>

            <div class="dropdown-menu" aria-labelledby="dropdownOrderLink">
                <a class="dropdown-item" href="#">Recomendados</a>
                <a class="dropdown-item" href="#">Ofertas</a>
                <a class="dropdown-item" href="#"><strong>Precio:</strong> más bajo</a>
                <a class="dropdown-item" href="#"><strong>Precio:</strong> más alto</a>
                <a class="dropdown-item" href="#"><strong>Duración:</strong> más largo</a>
                <a class="dropdown-item" href="#"><strong>Duración:</strong> más corto</a>
            </div>
        </div>
    </div>
</div>