 <div class="hero">
    <div class="slide d-flex flex-column align-items-center justify-content-center" style="background-image: url(content/img/home-hero-image-1.png);">
        <h1>Detrás de cada viaje <br> hay mucho mas que un destino.</h1>
    </div>
    
</div>