<!--PRODUCTO-->
<div class="search-item">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="row p-0 m-0">
                <div class="col-12 search-item-img">
                    <img class="iso-sm iso-slider" src="content/img/iso-sm.png"  title="Tour Experto">
                    <img class="image-product" src="content/img/search-prod-list/prod-1-short.jpg" alt="Europa Soñada">
                </div>
                    <div class="col-12 search-item-map">
                        <p class="view-map"><i class="far fa-map"></i>ver mapa</p>
                    <a class="map-link" href="#" title="ver mapa" target="_blank"><img class="map-product" src="content/img/search-prod-list/map-prod-1.png" alt="Europa Soñada"></a>
                </div>
            </div>
            
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="search-item-info">
                <div class="row">
                    
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12 d-flex flex-column search-item-main">
                        {# <span class="search-item-tag">circuitos</span> #}
                        <h3>Europa Soñada</h3>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span><span class="badge">5</span>214 reviews</span>
                        </div>
                        <p class="prod-description">Traslado de llegada y salida en servicio regular. 3 noches de alojamiento en hotel seleccionado</p>
                        <div class="d-flex flex-column align-items-start product-list">
                            <div class="d-flex flex-row">
                                <div class="prod-tit">Duración:</div>
                                <div class="prod-desc ">4 días - 3 Noches</div>
                            </div>
                            <div  class="d-flex flex-row">
                                <div class="prod-tit">Inicia/Finaliza:</div>
                                <div class="prod-desc">Madrid / Madrid</div>
                            </div>
                            <div  class="d-flex flex-row">
                                <div class="prod-tit">Recorre:</div>
                                <div class="prod-desc">Madrid, Zaragoza, Barcelona, Costa Azul, Monaco, Genova, Venecia, Florencia,  Roma, Pisa, Turin.</div>
                            </div>
                                <div  class="d-flex flex-row">
                                <div class="prod-tit">Proveedor:</div>
                                <div class="prod-desc">Europamundo</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12 d-flex flex-column align-items-center w-lg-152 ml-auto">
                        <div class="price-container">
                            <span class="search-item-price">
                                <strong><span class="curr-data">EUR</span> 1680 </strong>
                            </span>
                        </div>
                        
                        <div class="mt-auto button-container">
                            <a href="#" class="btn md_btn linear radius-5 mb-2 brand-primary">Ver producto</a>
                            <a href="#" class="btn md_btn fill radius-5 brand-primary">Reservar</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--PRODUCTO-->

    <!--PRODUCTO-->
<div class="search-item off">
    <div class="off-msg">
        10% off
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="row p-0 m-0">
                <div class="col-12 search-item-img">
                    <img class="iso-sm iso-slider" src="content/img/iso-sm.png"  title="Tour Experto">
                    <img class="image-product" src="content/img/search-prod-list/prod-2-short.jpg" alt="Turquía Esencial">
                </div>
                <div class="col-12 search-item-map">
                    <p class="view-map"><i class="far fa-map"></i>ver mapa</p>
                    <a  class="map-link" href="#" title="ver mapa" target="_blank"><img class="map-product" src="content/img/search-prod-list/map-prod-2.png" alt="Turquía Esencial"></a>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="search-item-info">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12 d-flex flex-column search-item-main">
                        {# <span class="search-item-tag">circuitos</span> #}
                        <h3>Turquía Esencial</h3>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <span><span class="badge">4</span>214 reviews</span>
                        </div>                                            
                        <p class="prod-description">Traslado de llegada y salida en servicio regular. 3 noches de alojamiento en hotel seleccionado</p>
                        <div class="d-flex flex-column align-items-start product-list">
                            <div class="d-flex flex-row">
                                <div class="prod-tit">Duración:</div>
                                <div class="prod-desc ">4 días - 3 Noches</div>
                            </div>
                            <div  class="d-flex flex-row">
                                <div class="prod-tit">Inicia/Finaliza:</div>
                                <div class="prod-desc">Estambul / Capadocia</div>
                            </div>
                            <div  class="d-flex flex-row">
                                <div class="prod-tit">Recorre:</div>
                                <div class="prod-desc">Estambul, Anara, Capadocia.</div>
                            </div>
                                <div  class="d-flex flex-row">
                                <div class="prod-tit">Proveedor:</div>
                                <div class="prod-desc">Europamundo</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12 d-flex flex-column align-items-center w-lg-152 ml-auto">
                        <div class="price-container">
                            <span class="search-item-price-off price-off">
                                <span class="curr-data">USD</span> 328
                            </span>
                            <span class="search-item-price">
                                <strong><span class="curr-data">USD</span> 299 </strong>
                            </span>
                        </div>
                        
                        <div class="mt-auto button-container">
                            <a href="#" class="btn md_btn linear radius-5 mb-2 brand-primary">Ver producto</a>
                            <a href="#" class="btn md_btn fill radius-5 brand-primary">Reservar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--PRODUCTO-->