 <div id="home-search" class="home-search">
              
    <form action="#" autocomplete="off" id="searchForm" class="d-flex align-items-lg-center justify-content-lg-between  flex-wrap" >
        <label for="search" class="search-label">¿A dónde queres Viajar?</label>
        <input id ="search" class="search-input" type="text" placeholder="Paquete terrestre, paquete aereo, vuelos..">
        <div class="calendar-icon"><i class="far fa-calendar-alt"></i></div>
        <input name="datepicker" id="datepicker" class="form-control datepicker" type="text" readonly required  value="cuando">
        <button class="d-flex align-items-center"><span><i class="fas fa-search"></i></span> Buscar</button>
        
    </form>
</div>