/* -----------------------------------------------------------------------------*/
/* shared/Modal
/* -----------------------------------------------------------------------------*/

.modal-open {
  // Kill the scroll on the body
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
	

	
  }
}

// Container that the modal scrolls within
.modal {
	z-index: $zindex-modal;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
	input, textarea{
		border-radius: 0.25rem;

		&[type=submit] {
			max-width: 150px;
		}
	}

	

	.modal-header{
		border-bottom:0px;
	}

   .close {
	    position: absolute;
	    right:50px;
	    top: 30px;
	    font-size: 1rem;
	    font-weight: 100;
	    color: white;
	    width:18px;
	    height:18px;
	    text-shadow: none; 
	    opacity: .5;
	    cursor:pointer;
	    background: transparent;
	    border:0;
	    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICAgIDxwYXRoIGZpbGw9IiM5OTlEQTIiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE2LjE3Mi4wMzFMMTcuMjUgMS4xMSA5LjcwMyA4LjY1Nmw3LjU0NyA3LjU0Ny0xLjA3OCAxLjA3OC03LjU0Ny03LjU0Ny03LjU0NyA3LjU0N0wwIDE2LjIwM2w3LjU0Ny03LjU0N0wwIDEuMTEgMS4wNzguMDMxbDcuNTQ3IDcuNTQ3eiIvPgo8L3N2Zz4K);

	}
	.close:hover{
		opacity: 1;
		@include transition(all,.5s,ease-out)
	}
    	  
	
	.ckeck-icon {
    	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCA5IDciPgogICAgPHBhdGggZmlsbD0iIzNFQ0NDOSIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNMi44OSA2LjM5YS40ODYuNDg2IDAgMCAxLS4zNS4xNTcuNDg2LjQ4NiAwIDAgMS0uMzUzLS4xNTZMMCA0LjIwMy43MDMgMy41IDIuNTQgNS4zMzYgNy40MjIuNDE0bC42NjQuNzAzTDIuODkgNi4zOTF6Ii8+Cjwvc3ZnPgo=);
        background-repeat: no-repeat;
    	background-position: left;
    	padding-left: 15px !important;
	}
	hr.gradient{
		height:2px;
		background: rgb(61,50,226);
		background: linear-gradient(90deg, rgba(61,50,226,1) 0%, rgba(219,50,110,1) 100%);
	}

}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  width: 100vw;
  height: 100vh;
  background-color: $modal-backdrop-bg;
  @include transition(all,.5s,ease-out);

  	// Fade for backdrop
  	&.fade { opacity: 0; }

  	&.show{ 
		  opacity: $modal-backdrop-opacity;
		  

  		&.lo{
		opacity: $modal-backdrop-lo-opacity;
		 
	  	}
	  	
	  	&.hi{
			opacity: $modal-backdrop-hi-opacity;
  		}
  	}

  	
 
}


.modal-dialog{

	@include media(dk) {
		&.xs-modal{
			max-width: $modal-xs-width;
		  }
		
		&.sm-modal{
			max-width: $modal-sm-width;
		  }
	
		&.md-modal{
			max-width: $modal-md-width;
		}


		&.lg-modal{
			max-width: $modal-lg-width;
		}

	}

	
	
	.back{
		padding: 0px;
		margin-right:0px;
		margin-left:auto;
	}

	.modal-content{
		width:100%;
		background: 	white;
		border-radius:  $modal-border-radius;
		border:0px;
		box-shadow: 0px 3px 15px 3px rgba(black,0.57);
		min-height: 70vh;
	

		.modal-body{

			&.bordered-body{
				background-color: lighten($grey-6, 3%);
				padding: 1.5em 2em;

				.white-space{
					border:1px solid $grey-5;
				}
			}
			.white-space{
				padding: 1.5em;
				
			}
			//un modal sin padding es un modal sin .white-space
			background: white;

			&.footerless{
				border-bottom-left-radius: $modal-border-radius;
				border-bottom-right-radius: $modal-border-radius;
				margin-bottom:30px;
			}

			
		}  

		.modal-title{
			font-family: $text-font-stack;
			color:       $grey-text-default;
			font-weight: bold;
			font-size: $t20;
			letter-spacing: $letter-spacing-half;
					
		}

		.modal-footer{
			display: flex;
			flex-direction:row;
			min-height: $modal-footer-height;
			border-top: 0px;

			
		}
	}

	 .modal.fade & {
    	@include transition(all,.5s,ease-out);
	    transform: $modal-fade-transform;
	  }
	  .modal.show & {
	    transform: $modal-show-transform;
	  }
}

// Estilos de modal agente
.agent-modal{
	.modal-dialog .modal-content .modal-header{
        padding-bottom:0px;
    }
    
    .modal-dialog .modal-content .modal-footer{
        padding-top:0px;
    }
    .modal-dialog .modal-content .modal-body{
        padding-top:0px;
        padding-bottom:0px;
    }
    .modal-dialog .modal-content .modal-title{
        color: $Pink-brand-1 ;
		font-size: $t24;
		line-height: $t18;
		margin-bottom:10px;

    }

	&.success{
		.modal-dialog .modal-content .success-title{
			color: $success-color;
			font-size: $t32;
			line-height:$t16 ;
			margin-bottom:0px;
		}

		p{
			color: $grey-text-default;

			&.tky-text{
				font-size: $t15;
				color: black;
				font-weight:500;
				text-align: center;
				// margin-top:20px;
				// margin-bottom:10px;
			}
		}
	}
}

@import 

	'modal/list-group';