.tyc{

    p{
        font-size: 14px ;
    }
    .checkbox{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .checkbox,label.container-check {
        font-size: 14px;
    }

}

.pgtyc{
    font-size: 14px ;
    .content .container-lg{margin-bottom:100px;}

    .tyc-content{
        font-size: 14px ;
        margin-bottom:20px;
    }
}